.counterWrapper {
  text-align: center;
  background-color: azure;
}

.counter {
  text-align: center;
  color: gray;
}

button {
  height:auto;
  width: auto;
  text-align: center;
  margin: 15px;
  font-size: 20px;
  color: darkcyan;
  border-radius: 5px;
  border: 1px solid red;
  background-color: black;
}

.count {
  font-size: 45px;
  color: darkred;
}
